.families--component,
.orphans--component {
  .card-deck .card {
    min-width: 18rem;
    margin-bottom: 1em;

    .card-img-top {
      cursor: pointer;
    }
  }
}

.fileupload label {
  margin-right: 1em;
}

.search-families--component {
  .search {
    margin-top: 60px;
    font-size: 16px;
  }

  .families--component {
    margin-top: 40px;
  }
}

.edit-family--component {
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus,
  textarea {
    font-size: 16px;
  }
}
