.families--component,
.orphans--component {
  .card-deck .card {
    min-width: 18rem;
    margin-bottom: 1em;

    .card-img-top {
      cursor: pointer;
    }
  }
}

.search-families--component {
  .search {
    margin-top: 60px;
    font-size: 16px;
  }

  .families--component {
    margin-top: 40px;
  }
}
