.families--component .card-deck .card,
.orphans--component .card-deck .card {
  min-width: 18rem;
  margin-bottom: 1em; }
  .families--component .card-deck .card .card-img-top,
  .orphans--component .card-deck .card .card-img-top {
    cursor: pointer; }

.search-families--component .search {
  margin-top: 60px;
  font-size: 16px; }

.search-families--component .families--component {
  margin-top: 40px; }
