html {
  font-size: 14px;
}

#root > .container {
  padding-top: 70px;
}

header .container.fixed-top {
  z-index: 1031;
}

.navbar-brand {
  img.logo {
    height: 2rem;
    margin-top: -3px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
